<h1 id="adminHeader">Admin Page</h1>

<div class="uploadDiv">   
<input ng-model="uploadOne" type="text">
<input ng-model="uploadAnswerOne" id="radioOne" type="radio" name="Answer">Check if this is the correct answer<br>
<input ng-model="uploadTwo" type="text">
<input ng-model="uploadAnswerTwo" id="radioTwo" type="radio" name="Answer">Check if this is the correct answer<br>
<input ng-model="uploadQuestion" type="text" placeholder="Add a question here">
<button class="btn-info" ng-click="uploadPhotos()">Submit</button>
</div>