<div id="userBackground">
  <div class="fullscreen-bg">
    <video loop muted autoplay class="fullscreen-bg__video">
      <source src="./Photos/movie_final.mp4" type="video/mp4">
    </video>
  </div>
  <p class="userNavigation"><a ui-sref="home">Go Home</a></p>
  <p class="userNavigation"><a ng-click="reloadGame()">Play</a></p>

  <!--player table-->
  <table border="1px solid black">
    <tr>
      <th>Name</th>
      <th>Score</th>
    </tr>
    <tr ng-repeat="user in users | orderBy: '-userScore' ">
      <td class="nameColumn">{{user.name}}</td>
      <td>{{user.userScore}}</td>
    </tr>
  </table>
</div>