<div class="gameBackground" ng-cloak>
  <!--<div class="fullscreen-bg">
    <video loop muted autoplay class="fullscreen-bg__video">
      <source src="./Photos/space_movie.mp4" type="video/mp4">
    </video>
  </div>-->
  <div ng-show="inGameScore" class="score">
  <div>
    <p class="inGameStats">Dongles: {{playerScore}}</p>
  </div> 
  <div>
    <p class="inGameStats">Player Name: {{userName}}</p>
  </div> 
    
  </div>
  <div ng-show="showQuestion">
    <p id="questions" class="quest questionNumber">Question {{questionNumber}}</p>
  </div>
  <div class="animateQuestion question clearText"><p class="questionParagraph">{{photoPair[0].question}}</p></div>
  <div id="removePlanetClass" class="planetRow" ng-show="questionArea">
    <div class="planet col-md-4 col-md-offset-1">
      <a  href=""><img ng-show="showPic" ng-click="picOne(); removeAnimation()" class="spacePic picOne clearPic" src="{{photoPair[0].location}}" alt=""></a>
    </div>
    <div class="planet col-md-4 col-md-offset-2">
      <a ng-click="picTwo()" href=""><img ng-show="showPic" class="spacePic picTwo clearPic" src="{{photoPair[1].location}}" alt=""></a>
    </div>
    <div ng-show="rightAnswer" id="right" class="rightAnswer">
      <img class="dongleMan" src="/Photos/dongle_guy_serious.jpg" alt="">    
      <p class="dongleText dMan">One dongle awarded.</p>
    </div>  
    <div ng-show="wrongAnswer" id="wrong" class="wrongAnswer">
      <img class="dongleMan" src="/Photos/dongle_man.jpg" alt="">    
      <p class="dongleText dMan">No dongles!</p>
    </div>


  </div>
  <div  style="background-color: black" class="endElementsDiv" ng-show="endGameScreen">
    <p class="endElements">Final score: {{playerScore}}</p>
    <p class="endElements"><a ui-sref="users">See high scores!</a></p>  
    <p class="endElements"><a ng-click="reloadGame()">Play again!</a></p>
    <p class="endElements"><a ui-sref="home">Return Home!</a></p>
  </div>
</div>
<!--<div class="stars"></div>
<div class="twinkling"></div>
<div class="clouds"></div>-->